body {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
select {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
body {
	color: rgb(0, 0, 0); font-family: "풕턼환쥌"; font-size: 14px; text-decoration: none; -ms-overflow-x: hidden; background-image: url("pic/header2.png"); background-repeat: repeat-x; background-color: rgb(241, 241, 241);
}
#header {
	width: 100%;
}
#header0 {
	margin: 0px auto; width: 1150px; position: relative;
}
#header1 {
	margin: 0px auto; padding-top: 14px; padding-bottom: 10px; position: relative;
}
#header2 {
	top: 79px; right: 0px; position: absolute;
}
#nav {
	width: 100%; height: 40px; line-height: 40px; font-family: "풕턼환쥌"; margin-bottom: 10px; position: relative; z-index: 10;
}
#nav0 {
	margin: 0px auto; width: 1150px; height: 40px; border-bottom-color: rgb(250, 202, 82); border-bottom-width: 2px; border-bottom-style: solid;
}
.clearfix::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: ".";
}
.clearfix {
	clear: both;
}
* html .clearfix {
	-ms-zoom: 1;
}
*:first-child + html .clearfix {
	-ms-zoom: 1;
}
.staff-list li {
	list-style-type: none;
}
.column-list-body li {
	list-style-type: none;
}
퇅힡 엌췲 .wp_nav {
	margin: 0px; padding: 0px; width: 1150px; height: 40px; display: block;
}
.wp_nav * {
	margin: 0px; padding: 0px;
}
.wp_nav::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.wp_nav .nav-item {
	width: 191px; height: 40px; vertical-align: bottom; float: left; display: inline-block; position: relative;
}
.wp_nav .on {
	z-index: 10;
}
.wp_nav .nav-item .mark {
	left: 0px; top: 0px; width: 100%; height: 100%; display: block; position: absolute; z-index: 99; opacity: 1;
}
.wp_nav .nav-item a {
	text-align: center; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; display: block; position: relative; z-index: 100;
}
.wp_nav .nav-item a.parent:hover {
	color: rgb(255, 238, 4); font-weight: bold;
}
.wp_nav .nav-item a.parent {
	color: rgb(255, 238, 4); font-weight: bold;
}
.wp_nav .nav-item a span.item-name {
	padding: 10px; line-height: 20px; display: inline-block; cursor: pointer;
}
.wp_nav .sub-nav {
	border-image: none; width: 100%; display: block; visibility: hidden; position: absolute; z-index: 200;
}
.wp_nav .sub-nav .nav-item {
	width: 191px; height: 40px; white-space: nowrap;
}
.wp_nav .sub-nav .nav-item .mark {
	background: rgb(121, 173, 207); opacity: 0.9;
}
.wp_nav .sub-nav .nav-item a {
	text-align: left; color: rgb(255, 255, 255); font-size: 14px; font-weight: normal; border-top-color: rgb(216, 225, 204); border-top-width: 1px; border-top-style: solid; min-width: 80px;
}
.wp_nav .sub-nav .nav-item a.parent:hover {
	background: rgb(121, 173, 207); color: rgb(255, 238, 4); font-size: 14px;
}
.wp_nav .sub-nav .nav-item a.parent {
	background: rgb(121, 173, 207); color: rgb(255, 238, 4); font-size: 14px;
}
.wp_nav .sub-nav .nav-item a span.item-name {
	padding: 10px; line-height: 20px;
}
.wp_nav .nav-item a.parent:hover span.item-name {
	
}
.wp_nav .nav-item a.parent span.item-name {
	
}
.wp_nav .sub-nav .nav-item a.parent:hover span.item-name {
	
}
.wp_nav .sub-nav .nav-item a.parent span.item-name {
	text-decoration: none;
}
.staff-list span.Article_AuxiliaryTitle {
	width: 200px;
}
.staff-list .wp_article_list {
	margin: 10px; width: 308px;
}
.staff-list span.Article_ShortTitle {
	width: 200px; font-size: 10px;
}
#pic_scroll {
	margin: 20px auto 10px; border-radius: 10px; width: 1150px; height: 300px; position: relative; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
#mainbox {
	margin: 0px auto; width: 1150px; display: table; position: relative;
}
.mainsmallbox {
	border-radius: 10px; width: 500px; height: 265px; color: rgb(0, 0, 0); padding-right: 0px; padding-left: 0px; text-decoration: none; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.mainsmallbox a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainsmallbox a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainsmallbox a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.mainsmallbox-in {
	width: 10px; height: 2px; float: left; background-color: rgb(255, 0, 4);
}
.mainmiddlebox {
	border-radius: 10px; width: 630px; height: 265px; color: rgb(0, 0, 0); padding-right: 0px; padding-left: 0px; text-decoration: none; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.mainmiddlebox a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainmiddlebox a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainmiddlebox a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.mainmiddlebox-in {
	width: 10px; height: 2px; float: left; background-color: rgb(255, 0, 4);
}
.mainsmallboxright {
	border-radius: 10px; width: 500px; height: 260px; color: rgb(0, 0, 0); padding-right: 0px; padding-left: 0px; text-decoration: none; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.mainsmallboxright a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainsmallboxright a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainsmallboxright a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.mainsmallboxright-in {
	width: 10px; height: 2px; float: left; background-color: rgb(255, 0, 4);
}
.mainmiddleboxleft {
	border-radius: 10px; width: 630px; height: 260px; color: rgb(0, 0, 0); padding-right: 0px; padding-left: 0px; text-decoration: none; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.mainmiddleboxleft a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainmiddleboxleft a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.mainmiddleboxleft a:hover {
	color: rgb(0, 0, 0); text-decoration: underline;
}
.mainmiddleboxleft-in {
	width: 10px; height: 2px; float: left; background-color: rgb(255, 0, 4);
}
.tt {
	border-radius: 10px 10px 0px 0px; height: 33px; border-bottom-color: rgb(250, 202, 82); border-bottom-width: 2px; border-bottom-style: solid;
}
.tit {
	color: rgb(0, 60, 147); line-height: 33px; padding-left: 15px; font-size: 16px; font-weight: normal; display: inline-block;
}
.more_text {
	color: rgb(116, 116, 116); font-size: 12px; font-weight: normal; float: right;
}
.more_btn {
	height: 32px; line-height: 32px; margin-right: 10px; float: right; display: inline-block;
}
.news-body {
	margin: 0px 0px 14px; padding: 4px 12px 4px 14px;
}
.article_index {
	width: 10px; height: 13px; color: rgb(255, 255, 255); text-indent: -99em; overflow: hidden; font-size: 11px; margin-top: 3px; margin-right: 5px; float: left; display: inline-block;
}
.news-list {
	font-size: 12px; margin-top: 1px; margin-bottom: 1px;
}
.news-tt {
	margin-bottom: 5px; margin-left: 5px; float: left;
}
.news-tt:visited {
	color: rgb(0, 0, 0); text-decoration: none; margin-bottom: 7px; margin-left: 5px; float: left;
}
.dangjian1 {
	background-position: 0px 0px; margin: 4px; padding: 0px; border: thick double rgb(239, 239, 239); border-image: none; width: 306px; height: 59px; float: left; position: relative; background-image: url("pic/dangjian2.4.jpg");
}
.dangjian1:hover {
	background-position: 0px -59px; margin: 4px; padding: 0px; border: thick double rgb(239, 239, 239); border-image: none; width: 306px; height: 59px; float: left; position: relative; background-image: url("pic/dangjian2.4.jpg");
}
.dangjian2 {
	background-position: -306px 0px; margin: 4px; padding: 0px; border: thick double rgb(239, 239, 239); border-image: none; width: 306px; height: 59px; float: left; position: relative; background-image: url("pic/dangjian2.4.jpg");
}
.dangjian2:hover {
	background-position: -306px -59px; margin: 4px; padding: 0px; border: thick double rgb(239, 239, 239); border-image: none; width: 306px; height: 59px; float: left; position: relative; background-image: url("pic/dangjian2.4.jpg");
}
#foot {
	width: 100%; height: auto; bottom: 0px; margin-top: 20px; position: relative; background-color: rgb(6, 107, 175);
}
.foot0 {
	margin: 0px auto; width: 1150px; height: auto; text-align: center; color: rgb(255, 255, 255); padding-top: 10px; padding-bottom: 10px; position: relative; background-color: rgb(6, 107, 175);
}
.foot0 p {
	color: rgb(255, 255, 255); padding-right: 10px; padding-left: 10px;
}
.columnpic {
	margin-top: 10px; margin-right: 6px; margin-left: 6px;
}
.column-menu {
	border-radius: 10px; width: 300px; color: rgb(0, 0, 0); padding-right: 0px; padding-left: 0px; text-decoration: none; margin-top: 10px; margin-right: 10px; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.column-list-no-column-menu {
	border-radius: 10px; width: 1170px; color: rgb(0, 0, 0); padding-top: 5px; padding-right: 0px; padding-left: 0px; text-decoration: none; margin-top: 10px; margin-right: 4px; margin-left: 5px; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.col_name_text {
	color: rgb(0, 0, 0); line-height: 33px; padding-left: 15px; font-size: 16px; font-weight: normal; display: inline-block;
}
.col_name_text a {
	text-decoration: none;
}
.Article_Title a {
	text-decoration: none;
}
.col_list_text {
	width: 100%; color: rgb(195, 0, 0); line-height: 33px; padding-left: 0px; font-size: 16px; font-weight: normal; display: inline-block;
}
.wp_listcolumn .wp_column a {
	font-weight: normal;
}
.wp_article_list .list_item {
	padding: 5px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.wp_listcolumn {
	border: currentColor; border-image: none;
}
.wp_listcolumn :last-child.wp_column a {
	border-radius: 0px 0px 10px 10px;
}
.column-list {
	border-radius: 10px; width: 830px; color: rgb(0, 0, 0); padding-top: 5px; padding-right: 0px; padding-left: 0px; text-decoration: none; margin-top: 10px; margin-left: 10px; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.column-list-body {
	margin: 10px 20px; padding-top: 0px;
}
.possplit a {
	text-decoration: none;
}
.displaybox {
	margin: 10px 4px 10px 5px; padding: 10px; border-radius: 10px; width: 1150px; color: rgb(0, 0, 0); text-decoration: none; float: left; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.displaybox-inner {
	margin: 10px 20px; padding-top: 0px;
}
.displaybox-head {
	margin: 10px 20px 5px; padding-top: 0px; font-family: "풕턼환쥌"; font-size: 18px;
}
.displaybox-inner hr {
	border: currentColor; border-image: none; height: 2px; background-color: rgb(250, 202, 82);
}
.displaybox-message {
	margin: 4px 20px 5px; color: rgb(50, 50, 50); padding-top: 0px; font-family: "풕턼환쥌"; font-size: 14px;
}
.displaybox-content {
	margin: 20px 20px 5px; padding-top: 0px; font-family: "풕턼환쥌"; font-size: 16px;
}
.column-list .column-menu-head {
	border-bottom-color: rgb(250, 202, 82); border-bottom-width: 2px; border-bottom-style: solid;
}
.column-list-no-column-menu .column-menu-head {
	border-bottom-color: rgb(250, 202, 82); border-bottom-width: 2px; border-bottom-style: solid;
}
div.slider-nav span {
	top: 50%; width: 0px; height: 0px; text-indent: -9999px; margin-top: -50px; position: absolute; z-index: 1000; cursor: pointer;
}
.orbit-wrapper {
	border-radius: 10px;
}
.featured orbit {
	border-radius: 10px;
}
.featured {
	background: none;
}
div.orbit img {
	border-radius: 10px;
}
.link-box {
	margin: 10px auto 0px; border-radius: 10px; width: 1150px; padding-top: 20px; padding-bottom: 10px; position: relative; box-shadow: 0px 0px 8px 1px #066baf; background-color: rgb(255, 255, 255); -moz-box-shadow: 0px 0px 8px 1px #066BAF; -webkit-box-shadow: 0px 0px 8px 1px #066BAF;
}
.link-box .box {
	width: 220px; height: 50px; background-color: black;
}
.link-tt {
	color: rgb(0, 0, 0); font-size: 16px; margin-bottom: 10px; margin-left: 20px;
}
.txt-link {
	background-position: left; width: auto; height: auto; color: rgb(0, 0, 0); padding-left: 10px; display: inline; background-image: url("pic/arrow.gif"); background-repeat: no-repeat;
}
.link-inline {
	padding: 5px; margin-right: 20px; margin-left: 20px;
}
.fl-link a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.fl-link a:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
.fl-link a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.txt-link a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.txt-link a:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
.txt-link a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.link-box hr {
	border: currentColor; border-image: none; height: 2px; margin-top: 10px; margin-bottom: 10px; background-color: rgb(250, 202, 82);
}
.img-link a {
	color: rgb(0, 0, 0); text-decoration: none;
}
.img-link a:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
.img-link a:visited {
	color: rgb(0, 0, 0); text-decoration: none;
}
.wp_listcolumn .wp_column a {
	background: rgb(245, 245, 245); width: 100%; text-align: left; color: rgb(102, 102, 102); font-size: 15px; font-weight: bold; border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; display: block; -ms-word-wrap: break-word;
}
.wp_listcolumn .wp_column a:hover {
	color: rgb(204, 0, 0); background-image: none; background-color: rgb(249, 249, 249);
}
.wp_listcolumn .wp_column a.selected {
	color: rgb(0, 0, 0); background-image: none; background-color: rgb(232, 232, 232);
}
.img-link {
	width: 1150px; height: 50px;
}
.wp_search .keyword {
	border-radius: 5px;
}
.imgscroll2_td {
	border: 1px solid rgb(6, 107, 175);
}
.imgscroll2_img {
	padding: 0px;
}
div.timer {
	display: none;
}
